body{
    background-image: url("../img/news.jpg");
    background-color: brown;
    color:white;
    margin: center;
    background-size: cover; 
    background-repeat: no-repeat;
    size: 100px;
}

h1{
   text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
li a{
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration:  none;

}

li a:hover
{
    background-color: darkblue;
}
ul {position: bottom; top: 0; width: 100%;}